<div id="my-users">
  <div class="page-delimiter first-page" data-page="<%= params[:page] || 1 %>"></div>
  <% @users.each do |user| %>
    <%= render partial: 'users/user', locals: {user: user} %>
  <% end %>
</div>
<% if @users.next_page %>
    <div id="infinite-scrolling">
      <div style="text-align: center">
            <%= will_paginate %>
      </div>
    </div>
<% end %>
